<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/store/css/style.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet">
    <title>Checkout</title>
  </head>
  <body>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Successful</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>Your order has been successfully placed.</p>
          </div>
          <div class="modal-footer">
            <a  class="btn btn-secondary" href="{% url 'index' %}">Close</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6"><a href="{% url 'index' %}"><img src="../static/store/Kloth.png" alt="Logo" id="logo" class="img-responsive"></a></div>
        <div class="col-sm-6 text-center text-uppercase" id="slogan">
          <br>
          <br>
          <h1>Klass Office</h1>
          <h3>Your One Stop to Office Supplies</h3>
        </div>
      </div>
      <hr class="hstyle">
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-center" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'categories' %}">Shop Categories</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item active">
                      <div class="dropdown show">
                      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome, {{ user.first_name }}
                      </a>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'shoppingcart' username=user.username%}">Shopping Cart <img src="../static/store/open-iconic-master/png/cart-2x.png" alt=""></a>
                        <a class="dropdown-item" href="{% url 'orders' username=user.username%}">My Orders</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                      </div>
                      </div>
                </li>
            {% else %}
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="row">
          <div class="col-sm-8">
              <form method="post" action="{% url 'confirm' cartid=cartId %}">
                  <input type="hidden" value="{% for q in quantity reversed%}{{ q }}{% endfor %}" name="quantity">
                  <input type="hidden" value="{{ products }}" name="products">
                  <input type="hidden" value="{{ total }}" name="total">
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address1">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="address2">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-sm-6">
                      <label for="inputCity">City</label>
                      <input type="text" class="form-control" id="inputCity" name="city">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="inputState">State</label>
                      <select id="inputState" class="form-control" name="state">
                        <option selected>Selangor</option>
                        <option>Johor</option>
                        <option>Penang</option>
                        <option>Sabah</option>
                        <option>Sarawak</option>
                        <option>Malacca</option>
                        <option>Perak</option>
                        <option>Kedah</option>
                        <option>Pahang</option>
                        <option>Kelantan</option>
                        <option>Terengganu</option>
                        <option>Negeri Sembilan</option>
                        <option>Perlis</option>
                      </select>
                    </div>
                    <div class="form-group col-sm-2">
                      <label for="inputZip">Zip Code</label>
                      <input type="text" class="form-control" id="inputZip" name="zipcode">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" id="addtocart" onclick="confirmOrder()">Proceed</button>
                  {% csrf_token %}
                </form>
          </div>
          <div class="col-sm-4" id="summary">
              <br>
              <h5 id="summary-font">Your Order Summary</h5>
              <hr id="summary">
              <div class="row">
                  <div class="col-sm-6">
                      <h6 id="summary-font">Product</h6>
                  </div>
                  <div class="col-sm-3">
                      <h6 id="summary-font">Quantity</h6>
                  </div>
                  <div class="col-sm-3">
                      <h6 id="summary-font">Price</h6>
                  </div>
              </div>
              <div class="row">
              {% for p in products %}
                  <div class="col-sm-6">
                      <h6 id="summary-font">{{ p.product_Name }}</h6>
                  </div>
                  <div class="col-sm-3">
                      <h6 id="summary-font">{{ quantity.pop }}</h6>
                  </div>
                  <div class="col-sm-3">
                      <h6 id="summary-font">{{ p.product_Price }}</h6>
                  </div>
              {% endfor %}
              </div>
              <div class="row">
                  <div class="col-sm-9">
                      <h6 id="summary-font">Total: </h6>
                  </div>
                  <div class="col-sm-3">
                      <h6 id="summary-font">{{ total }}</h6>
                  </div>
              </div>
          </div>
      </div>
    <div class="row">
        <div class="col-sm-12" align="right">
            <h6 id="summary-font"> Note: Only cash payments are currently accepted. Apologies.</h6>
        </div>
    </div>
    </div>
    <script>
        function confirmOrder() {
            $(document).ready(function(){
                $("#myModal").modal();
            });

        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
